body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.02em; 
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.container { 
    width: 1470x; 
    padding-left: 156px;
    padding-right: 156px;
   margin: 0 auto;
    }

    .header_logotipe {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    }

.header_logo {
    color: #2E2F42;
}

.header_menu_link {
    color: #2E2F42;    ;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    text-decoration: none;
}

.header_menu_link:hover,
.header_menu_link:focus {
    color: #404BBF; 
    list-style: none;
}

.header_address {
    font-style: normal;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;
    text-decoration: none;
}

.header_address:hover,
.header_address:focus {
    color: #404bbf;
}

.effective_solutions {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.heffective_solutions {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 48px;
}

.button_service {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px

}
.button_service:hover,
.button_service:focus {
    background-color: #404BBF;
}

.hsection {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style: none;
    margin-bottom: 8px;
}

.phsection {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    list-style: none;
}
.sectiontwo {
    padding-top: 120px;
    padding-bottom: 120px;
}

.sectionthree {
    background-color: #F4F4FD;
    list-style: none;
    padding-top: 120px;
    padding-bottom: 120px;

}

.our_team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.people {
    background-color: #FFFFFF;
    margin-bottom: 32px;
}

.hpeople {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style: none;
    margin-bottom: 8px;
}

.ppeople {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    list-style: none;
}

.our_portfolio_one{
    padding-top: 120px;
    padding-bottom: 120px;

}

.our_portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.hsectionfour {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style: none;
    margin-top: 32px;
}

.psectionfour {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    list-style: none;
}

.footer_footer {
    background-color: #2e2f42;
    padding-top: 120px;
    padding-bottom: 120px;
}

.logo_footerweb {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo_footer {
    color: #f4f4fd;
}

.p_footer {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footerost {
    width: 264px;
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: content-box;
}
